/* Sidebar.css */
.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #474747;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
    font-family: 'Arial', sans-serif;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar ul li a.active {
    background-color: #444;
}
